.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
<<<<<<< HEAD
=======
  max-width: 800px;
>>>>>>> 1049a5305a73437a1b26910e0ab5cf4d546faa4d
}

main {
  display: flex;
  justify-content: center;  
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

<<<<<<< HEAD

=======
>>>>>>> 1049a5305a73437a1b26910e0ab5cf4d546faa4d
.movies {
  list-style: none;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
=======
  gap: 32px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
>>>>>>> 1049a5305a73437a1b26910e0ab5cf4d546faa4d
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

<<<<<<< HEAD
.info_movies {
  min-height: 75px;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}
=======
.movie img {
  border-radius: 8px;
  margin-top: 16px;
}
>>>>>>> 1049a5305a73437a1b26910e0ab5cf4d546faa4d
